body {
    font-family: Arial;
}

.centered {
    text-align: center;
}

.bottom {
    width: 100%;
}

#types-table, #types-table th, #types-table td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#types-table {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#types-table th {
    background-color: aquamarine;
}

#visualizations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

#visualizations img {
    width: 700px;
}